{% extends 'index.html' %}

{% load cart %}

{% block 'title' %} Product-Page {% endblock %}

{% block 'content' %}

<div class="container-fluid">
    <div class="row">
        <!-- filter -->
        <div class="col-sm-2 mt-5">
            <div class="list-group">
                {% for c in data1 %}
                <a type="button" href="/?category={{c.id}}/" class="list-group-item list-group-item-action">
                {{c.name}}
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- filter -->
        <!-- Product -->
        <div id="product" class="col-sm-10">
            <!-- cart -->
            <div class="row mx-auto mt-5">
                {% for p in data %}
                    <div class="card mx-auto mb-4" id="{{p.id}}" style="width: 20rem;">
                        <img src="{{p.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text">{{p.description}}</p>
                        <h6 class="card-text d-flex align-items-end flex-column">{{p.price}} ₹</h6>
                        <!-- buttons -->
                    <div class="card-footer no-gutters p-0">
                        {% if p|is_in_cart:request.session.cart %}
                        <!-- '-'&'+' button -->
                        <div class="row no-gutters" >
                            <form action="/AllProduct/#{{p.id}}" method="post" class="col">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{p.id}}">
                                <input style="font-weight: bolder;" type="submit" value="-" class="btn btn-dark rounded-circle">
                                <input hidden type="text" name="remove" value="True">
                            </form>
                                <div style="font-weight: 600;" class="text-center col me-5 mt-1">{{ p | cart_quantity:request.session.cart }} in Cart</div>
                            <form action="/AllProduct/#{{p.id}}" method="post" class="col-2">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{p.id}}">
                                <input style="font-weight: bolder;" type="submit" value="+" class="btn btn-dark rounded-circle">
                            </form>
                        </div>
                        {% else %}
                        <!-- add to cart button -->
                        <form action="/AllProduct/#{{p.id}}" method="post" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name="product" value="{{p.id}}">
                            <input href="#" type="submit" class="btn btn-outline-dark float-right form-control" value="Add To Cart">
                        </form>
                        {% endif %}
                    </div>
                    <!-- end buttons -->
                    </div>
                    
                    </div>
                {% endfor %}
            </div>
            <!-- end cart -->
        </div>
        <!-- end Product -->
    </div>
</div>
{% endblock %}
