{% extends 'index.html' %}
{% block 'title' %}
SIGN-UP
{% endblock %}

{% block 'content' %}
    <div class="row justify-content-around">
        <div class="col-sm-4">
            <form action="" method ='post' class="bg-whitecol-sm-4 p-3 bg-dark rounded text-white mt-5">
                <h3 class="text-white text-center">Creaye An Account</h3>
                {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}}
                        {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small>
                    {% endfor %}
                <br>
                <b>
                    <div class="d-flex align-items-end flex-column">
                        <input type="submit" class="btn btn-outline-primary col-sm-6" value='Submit'>
                        </div>
                        <div class="d-flex align-items-end flex-column">
                            <a class="mt-2 btn btn-outline-info mt-3 col-sm-6" href="/login/">Log In</a>                
                        </div>                </b>
                <!-- <div type="submit" class=" mt-2 btn btn-primary d-inline p-2 text-white">Submit</div>
                <div class="btn btn-primary d-inline p-2 text-white">d-inline</div>    -->
            </form>
        </div>
    </div>
{% endblock %}