{% extends 'index.html' %}
{% block 'title' %}
Add Patient Details
{% endblock %}
{% block 'content' %}
    
<div class="container">
    <div >
      <div class="row justify-content-around">
        
        <form action="" method ='post' class="col-sm-4 mt-5 p-3 bg-white rounded">
          <h3 class='text-center'>Update Patient Details</h3>
          {% csrf_token %}

          {{form.as_p}}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>    
            </div>
    </div>
</div>

{% endblock %}
